<section class="bg-white border-t border-black-primary w-full">
  <div class="max-w-6xl mx-auto px-4 py-10 md:p-20 flex flex-col items-center text-center">
    {%- if section.settings.heading != blank -%}
      <h2 class="poppins-semibold text-[2.125rem] md:text-[3.125rem] poppins-bold text-black-primary leading-[120%]">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%}

    {%- if section.settings.subtext != blank -%}
      <p class="poppins-medium text-lg md:text-lg text-black-secondary leading-[140%] max-w-159.5 my-4">
        {{ section.settings.subtext }}
      </p>
    {%- endif -%}

    {%- if section.settings.button_label != blank and section.settings.button_url != blank -%}
      <a
        href="{{ section.settings.button_url }}"
        class="mt-10 inline-block bg-black-primary text-white text-xs md:text-base poppins-medium tracking-wide uppercase px-6 py-4 hover:opacity-90 max-w-67.5 w-full"
      >
        {{ section.settings.button_label }}
      </a>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Discover",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Discover Our Beautiful Bouquets"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Explore our collection of exquisite bouquets and surprise your loved ones with the perfect gift. Click the button below to start shopping"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Discover",
      "category": "About"
    }
  ]
}
{% endschema %}
